# Validation Pool Block Verification



![](https://lh4.googleusercontent.com/z8a4Lrw9rHoALv9WSZFi0oQjWmg9PAVLYEggbRYvU00sKRdK3HNkP0gAwjKTnYlZzp1U7otu4Ow4GCv_3gipBt6PzPDqNFZ1a9MgRYVWqwMYdqGsP70fsHa5RpuZFqea6dFm6S4r)

Figure 5: After the random selection of the Anchor token staked block producer as illustrated in Figure 4, the selected block producer collects all valid SEM-token gas-paying transactions in a block and publishes it. This proposed block is then sent to the Anchor tokenholder DAO validation pool. If the pool upvotes the block as valid, it is added to the Semada blockchain. The collected SEM token fees are distributed to all members of the DAO, as described below.

